body {
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(./Images/b8.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}